# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
nltk.tokenize
gensim

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor
string

# voice recording and speech to text API
base64
streamlit
bokeh.models.widgets
bokeh.models
streamlit_bokeh_events
pydub
google.cloud
google_api
google.cloud

# ffmpeg => needs to be brew installed
